<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg nav-bar mb-0">
  <div class="container">
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white ms-5 " routerLink="AllRestaurants">All Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="#">Become a Partner</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3">
          Sign up
        </button>

      </div>
    </div>
  </div>
</nav>  -->
<!-- Navbar -->
 <header>
  <div class="navbar navbar-expand-lg nav-bar mb-0">
      <div class="container">
          <div class="navbar-header">

              <a class="navbar-brand" href="index.html"><i class="icon-info-blocks material-icons">location_on</i>GRILL</a>
          </div>
          <div class="navbar-collapse collapse ">
              <ul class="nav navbar-nav">
                  <li class="active"><a class="ms-5" href="index.html">Home</a></li>
       <li >
                  <a href="#" class="ms-4">About Us <b class="caret"></b></a>

              </li>
                  <li><a class="ms-4" routerLink="AllRestaurants">All Restaurants</a></li>
                  <li><a class="waves-effect waves-dark ms-4" href="portfolio.html">Become a partner</a></li>
                  <li><a class="waves-effect waves-dark ms-4" href="portfolio.html">Offers</a></li>
                  <li><a class="waves-effect waves-dark ms-4" href="contact.html">Contact</a></li>
              </ul>
          </div>

          <button type="button" class="btn bg-transparent rounded">LogIn</button>
          <button type="button" class="btn bg-transparent rounded ms-3">SignUp</button>


      </div>
  </div>
</header>

